.formInput{
    text-align: left;
    margin: 5px;
}
.errMessage{
    display: block;
}
.inputLabel{
    display: block;
    /* font-family: Inter; */
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #000;
}
select{
    background: #FFFFFF;
    border: 1px solid #00000033;
    padding: 0.3rem 0.2rem;
    width: 94%;
    display: block;
    margin: 3px 0;
    border-radius: 3px;
}

@media screen and (max-width : 600px) {
    select{
        width: 100%;
    }
}