.app-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.theme-toggle-btn span{
    display: flex;
    align-items: center;
    gap: 5px;
}
.theme-toggle-btn{
    font-size: 1rem;
    border: none;
    background-color: transparent; 
}
.dark-theme .theme-toggle-btn{
    color: #fff;
}