.saveButton{
    background-color: #007AFF;
    padding: 10px 30px;
    color: #fff;
    border: 1px solid #007AFF;
    border-radius: 6px;
}
.mainHomePageDiv h2, .mainHomePageDiv p{
    margin: 10px;
}