.mainDataTable {
    padding: 10px;
    border: 1px solid #E4E7EC;
    margin: 10px auto;
    width: 90%;
    box-shadow: 0px 1px 2px 0px #10182850;
    border-radius: 6px;
    text-align: left;
    overflow: auto;
}

.tableBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.tableBtn span {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;

}

.tableBtn button {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px 0px #10182850;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
    padding: 5px 10px;
}

.mainDataTable table {
    padding: 10px;
    width: 100%;
    border: none;
}

.mainDataTable table {
    border-collapse: collapse;
}

table thead th:first-child {
    border-top-left-radius: 6px;
}

table thead th:last-child {
    border-top-right-radius: 6px;
}

th {
    border: 1px solid #E4E7EC;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

}

td {
    border: 1px solid #E4E7EC;
    padding: 5px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;

}

table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

table tr:nth-child(even) {
    background-color: #F9FAFB;
}